/* STYLING THE HOME HERO SECTION */
.homeHero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    background: linear-gradient(119deg, #ED4690 -2.11%, #52C 63.58%);
    padding-top: 8rem;
    padding-bottom: 3em;
    gap: 5rem;
}
.homeVideo{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 5rem;
    width: 100%;
}

.hero-text h1{
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    text-align: center;
}

.hero-text h4{
    font-size: 30px;
    text-align: center;
    font-style: italic;
    padding: 0.5rem 0 2rem 0;
}

.heroButton{
    border-radius: 40px;
    background: #F5167E;
    border: none;
    padding: 1px 18px;
    font-size: 20px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero-text button a{
    text-decoration: none;
    color: #fff;
}



@media screen and (min-width: 280px) and (max-width: 850px) {

    .homeHero{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding-bottom: 2em;
    }

    .homeVideo{
        width: 100%;
        height: 100vh;
        object-fit: contain;
    }

    .hero-text{
        display: flex;
        align-items: center;
        line-height: normal;
    }

    .hero-text h1{
        font-size: 1.8rem;
        padding: 10px 20px;
    }

    .homeHero h4{
        font-size: 1rem;
        font-weight: bold;
    }

    .heroButton{
        padding: 20px 30px;
        font-size: 20px;
    }
}


/* STYLING THE SERVICE HERO SECTION */

.DBHero{
    width: 100%;
    height: 70vh;
}

.DBHero img{
    width: 100%;
    height: 70vh;
}

/* STYLING THE SIGNUP HERO SECTION */

.signUpHero{
    background-color: #344a72;
    position: relative;
    height: 100vh;
    margin-top: 5rem;
    border: 7px solid blue;
}

.signUpHero button{
    display: none;
}