.footer{
    background-color: black;
    margin-top: 5rem;
}
.top{
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.bottom{
    display: flex;
    justify-content: space-around;
    color: #fff;
    text-decoration: none;
}

.contact nav{
    display: flex;
    padding: 1rem 2rem;
    gap: 1rem;
}

.contact img{
    padding: 0.7rem 1rem;
}

.contact img:hover{
    transform: scale(1.3);
}

.contact span{
    padding: 0.7rem 1rem;
}

.contact span:hover{
    cursor: pointer;
    background: #5522CC;
    color: #fff;
    border-radius: 0.3rem;
}

.social img{
    display: flex;
    flex-direction: column;
    height: 30px;
    padding: 0.5rem;
}

.social img:hover{
    transform: scale(1.3);
}