.Ancestor{
    /* display: flex; */
    flex-wrap: wrap;
    background: #000;
    color: #fff;
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
}

.h1{
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    color: #fff;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    padding-bottom: 2rem;
}

.Father{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* font-family: Arial, Helvetica, sans-serif; */
    width: 100%;
    height: auto;
}

.Mother1,
.Mother2,
.Mother3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.Mother1{
    width: 30%;
    height:80vh;
    background: linear-gradient(119deg, #521753 -2.11%, #251545 63.58%);
    border-radius: 15px;
}

.Mother2{
    width: 30%;
    height: 80vh;
    background: linear-gradient(119deg, #4D2BB5 -2.11%, #4DD6F3 63.58%);
    border-radius: 15px;
}

.Mother3{
    width: 30%;
    height: 80vh;
    background: linear-gradient(119deg, #C1C2E6 -2.11%, #F0BDD2 63.58%);
    border-radius: 15px;
    color: #000;
}

.Father h1{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.Father p{
    font-size: x-large;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.Father button{
    border: none;
    font-size: larger;
    border-radius: 30px;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.Father button a{
    text-decoration: none;
    color:  #000;
}

.eventVideo{
    display: flex;
    justify-content: center;
    width: 60%;
    object-fit: contain;
    border-radius: 6px;
    margin-left: 20%;
}


/* STYLING THE INPERSON COMPONENT */


.InpersonAncestor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 2rem;
    width: 100%;
    /* background-color: rebeccapurple; */
}

.InPersonFather{
    padding: 5rem 1rem;
    font-family: sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InPersonMother{
    padding: 5rem 1rem;
    width: 50%;
}
.InPersonMother img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.InPersonFather h1{
    font-size: 2rem;
    text-align: center;
}

.InPersonFather p{
    font-size: 1.5pc;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;

}

.CEbtn{
    margin-top: 2pc;
    padding: 1rem 2rem;
    border-radius: 50px;
    background: #F5167E;
    border: none;
    padding: 1rem 2rem;
    font-weight: bold;
    margin-left: 3rem;
    font-size: larger;
    color: #fff;
}

.CEbtn a{
    text-decoration: none;
    color: #fff;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.SEbtn{
    border-radius: 50px;
   background: #F5167E;
   border: none;
   padding: 1rem 2rem;
   font-size: larger;
   font-family: "Dancing Script", cursive;
   font-optical-sizing: auto;
   font-style: normal;
}

.SEbtn a{
    text-decoration: none;
    color: #fff;
}
/* STYLING THE VIRTUAL COMPONENET */


.VirtualAncestor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 2rem;
    width: 100%;
}

.VirtualFather{
    padding: 5rem 1rem;
    font-family: sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VirtualMother{
    padding: 5rem 1rem;
    width: 50%;
}

.VirtualMother img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.VirtualFather h1{
    font-size: 2rem;
    text-align: center;
}

.VirtualFather p{
    font-size: 1.5pc;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

/* STYLING THE HYBRID COMPONENET */

.HybridAncestor{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    width: 100%;
}

.HybridFather{
    padding: 5rem 1rem;
    font-family: sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HybridMother{
    padding: 5rem 1rem;
    width: 50%;
}

.HybridMother img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.HybridFather h1{
    font-size: 2rem;
    align-items: center;
}

.HybridFather p{
    font-size: 1.5pc;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

@media screen and (min-width: 280px) and (max-width: 850px){
    .h1{
        font-size: 1.5rem;
    }
    .Father h1{
        font-size: 1.3em;
    }
    .Father p{
        font-size: large;
    }

    .Father {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .Mother1,
    .Mother2,
    .Mother3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 6em);
        height: auto;
        margin: 2em;
        box-sizing: border-box;
    }
    
    .Father button{
        font-size: 15px;
        padding: 0.5rem 1rem;
    }
    .eventVideo{
        width: 60%;
        /* height: 50vh; */
        object-fit: contain;
    } 
}

@media screen and (min-width: 851px) and (max-width: 1400px){
    .Mother1,
    .Mother2,
    .Mother3{
        height: auto;
    }

    .Father h1{
        font-size: 30px;
    }

    .Father p{
        text-align: center;
    }
}

/* MAKING THE THREE EVENTS TYPE RESPONSIVE */

@media screen and (min-width: 50px) and (max-width: 849px){
    .Father h1{
        font-size: 40px;
        text-align: center;
    }

    .Father p{
        text-align: center;
        font-size: 50px;
    }

    .Father button{
        font-size: 30px;
    }



    .InPersonFather{
        width: 100%;
    }

    .InPersonMother{
        width: 100%;
        padding: 0;
    }

    .VirtualFather{
        width: 100%;
    }

    .VirtualMother{
        width: 100%;
        padding: 0;
    }

    .HybridFather{
        width: 100%;
    }

    .HybridMother{
        width: 100%;
        padding: 0;
    }
}