.Ancestor{
    /* display: flex; */
    flex-wrap: wrap;
    background: #000;
    color: #fff;
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.h1{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    font-size: 3rem;
    color: #fff;
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.Father{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* font-family: Arial, Helvetica, sans-serif; */
    width: 100%;
    height: auto;
}

.Mother1,
.Mother2,
.Mother3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Mother1{
    width: 30%;
    height:80vh;
    background: linear-gradient(119deg, #521753 -2.11%, #251545 63.58%);
    border-radius: 15px;
}

.Mother2{
    width: 30%;
    height: 80vh;
    background: linear-gradient(119deg, #4D2BB5 -2.11%, #4DD6F3 63.58%);
    border-radius: 15px;
}

.Mother3{
    width: 30%;
    height: 80vh;
    background: linear-gradient(119deg, #C1C2E6 -2.11%, #F0BDD2 63.58%);
    border-radius: 15px;
    color: #000;
}

.Father h1{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.Father p{
    font-size: x-large;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.Father button{
    border: none;
    font-size: larger;
    border-radius: 30px;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.Father button a{
    text-decoration: none;
    color:  #000;
}
.eventVideo{
    display: flex;
    justify-content: center;
    width: 60%;
    object-fit: contain;
    border-radius: 6px;
    margin-left: 20%;
}


/* STYLING THE INPERSON COMPONENT */


.InpersonAncestor{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.InPersonFather{
    padding: 5rem 1rem;
    font-family: sans-serif;
}

.InPersonMother{
    padding: 5rem 1rem;
}
.InPersonMother img{
    /* width: 50%; */
    height: 50vh;
    object-fit: cover;
}

.InPersonFather h1{
    font-size: 2rem;
}

.InPersonFather p{
    font-size: larger;
}

.InPersonFather button{
    margin: 1rem 10rem;
    border: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1rem 0.5rem;
}

.InPersonFather button a{
    text-decoration: none;
    font-size: large;
    color: #000;
}

/* STYLING THE VIRTUAL COMPONENET */


.VirtualAncestor{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.VirtualFather{
    padding: 5rem 1rem;
    font-family: sans-serif;
}

.VirtualMother{
    padding: 5rem 1rem;
}

.VirtualMother img{
    height: 50vh;
    object-fit: cover;
}

.VirtualFather h1{
    font-size: 2rem;
}

.VirtualFather p{
    font-size: larger;
}

.VirtualFather button{
    margin: 1rem 10rem;
    border: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1rem 0.5rem;
}

.VirtualFather button a{
    text-decoration: none;
    font-size: large;
    color: #000;
}

/* STYLING THE HYBRID COMPONENET */

.HybridAncestor{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.HybridFather{
    padding: 5rem 1rem;
    font-family: sans-serif;
}

.HybridMother{
    padding: 5rem 1rem;
}

.HybridMother img{
    height: 50vh;
    object-fit: cover;
}

.HybridFather h1{
    font-size: 2rem;
}

.HybridFather p{
    font-size: larger;
    padding: 0 15rem 0rem 0;
}

.HybridFather button{
    margin: 1rem 10rem;
    border: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1rem 0.5rem;
}

.HybridFather button a{
    text-decoration: none;
    font-size: large;
    color: #000;
}

@media screen and (min-width: 280px) and (max-width: 850px){
    .h1{
        font-size: 1.5rem;
    }
    .Father h1{
        font-size: 1.3em;
    }
    .Father p{
        font-size: large;
    }

    .Father {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .Mother1,
    .Mother2,
    .Mother3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 6em);
        height: auto;
        margin: 2em;
        box-sizing: border-box;
    }
    
    .Father button{
        font-size: 15px;
        padding: 0.5rem 1rem;
    }
    .eventVideo{
        width: 60%;
        /* height: 50vh; */
        object-fit: contain;
    } 
}

@media screen and (min-width: 851px) and (max-width: 1400px){
    .Mother1,
    .Mother2,
    .Mother3{
        height: auto;
    }
}