.LogIn{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #344a72;
}

.LogIn h1{
    display: flex;
    justify-content: center;
}

.logInForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    gap: 20px;
    background-color: #fff;
    margin: auto;
    padding: 3rem;
    border-radius: 5px;
}
.logInForm label{
    font-size: 20px;
}
.logInForm input{
    height: 7vh;
    border-radius: 6px;
    outline: none;
    border: none;
    border: 1px solid gray;
    flex-shrink: 0;
}

.LogIn-Button{
    height: 7vh;
    border: none;
    border: 1px solid gray;
    background-color: #49c1a2;
    border-radius: 6px;
}
.LogIn-Button a{
    text-decoration: none;
    color: #000;
}

.LogIn-Button:hover{
    border-radius: 4px;
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
    font-size: larger;
}


@media screen and (max-width: 850px) {
    .LogIn h1{
        font-size: 1rem;
    }
}