*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

.MainAncestor{
    background: linear-gradient(119deg, #000 -2.11%, #000 63.58%);
    height: auto;
}

.ancestor{
    width: 100%;
    padding-top: 5pc;
}

.aside{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #F5167E;
}

.aside a{
    font-size: 1.5rem;
    color: #fff;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
}

aside a.active{
    border-bottom: 2px solid #fff;
}

.reg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.registerComp{
    width: 30%;
    padding-top: 50px;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    height: auto;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 3pc;
    padding: 20px 20px;
}

.register img{
    width: 100%;
}

.register h1{
    font-size: 2em;
}

.btnSection{
    display: flex;
    gap: 30px;
}

.reg-btn{
    border-radius: 20px;
    background: #F5167E;
    border: none;
    font-size: large;
    font-weight: bold;
    padding: 1rem 3rem;
    color: #fff;
    cursor: pointer;
}

.shareBtn{
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.GrandFatherh1{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    color: #fff;
}
.GrandFather{
    padding-top: 5pc;
}
.father{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 2pc;
    padding-bottom: 1pc;
    color: #fff;
}

.mother{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 5rem;
}
.child1{
    height: 70vh;
    width: auto;
}

.child2{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.child3{
    font-size: 20px;
    text-align: center;
}

.child4{
    border-radius: 40px;
    background: #F5167E;
    border: none;
    padding: 0 18px;
}

.child4:hover{
    cursor: pointer;
    color: #fff;
    /* border-radius: 0.5rem; */
    text-decoration: underline;
}

.child2,
.child3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}
.child4 a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
@media screen and (min-width: 280px) and (max-width: 850px){

    .GrandFather{
        padding-top: 3.4pc;
    }

    .father{
        width: 100%;
    }

    .child1{
        width: 100%;
        height: 80vh;
        padding: 1pc;
    }
    .child2{
        display: flex;
        justify-content: center;
    }
    .child3{
        font-size: 18px;
    }
    .child4{
        margin-left: 0;
    }
    .mother{
        display: flex;
        align-items: center;
        width: 100%;
    }
}
/* REGISTER PAGE RESPONSIVE */
@media screen and (min-width: 600px) and (max-width: 1200px){
    .ancestor{
            width: 100%;
            padding-top: 5pc;
        }

    .registerComp{
        width: 45%;
    }

    .reg{
        width: 100%;
}

    .aside{
        width: 100%;
    }

    .aside a{
        font-size: 1rem;
        font-weight: 700;
    }

    .register{
        padding: 0 2pc 2pc 2pc;
    }
    .register input{
        padding-left: 0;
        width: 80%;
        text-align: center;
    }

    .register label{
        text-align: center;
    }

    .register p{
        text-align: center;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: normal;
    }
}

@media screen and (min-width: 100px) and (max-width: 600px){
    .ancestor{
        width: 100%;
        padding-top: 5pc;
    }
    .registerComp{
        width: 100%;
    }

    .reg{
        width: 100%;
        justify-content: space-around;
        padding: 3pc;
    }

    .register{
        padding: 2pc;
    }
    .aside{
        width: 100%;
    }

    .aside a{
        font-size: 0.9rem;
        font-weight: 700;
    }

    .register input{
        text-align: center;
        padding-left: 0;
        width: 80%;
    }
    
    .register label{
        text-align: center;
    }
    .register p{
        text-align: center;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: normal;
    }
}