*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

.MainAncestor{
    /* background: linear-gradient(119deg, #000 -2.11%, #000 63.58%); */
    height: auto;
}

.ancestor{
    display: flex;
    flex-wrap: wrap;
    gap: 5pc;
    width: 100%;
    background: linear-gradient(119deg, #000 -2.11%, #000 63.58%);
    /* justify-content: space-between; */
}

.aside{
    display: flex;
    flex-direction: column;
    width: 15%;
    background: #fff;
    height: 70vh;
    padding: 10px;
    line-height: 5em;
    border-radius: 0 20px 20px 0;
}

aside a{
    font-size: 1.5rem;
    color: #000;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.reg{
    display: flex;
    flex-wrap: wrap;
    gap: 5pc;
    width: 70%;
    /* background-color: #fff; */
}

.registerComp{
    width: 45%;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    height: auto;
    padding-bottom: 1pc;
    font-family: sans-serif;
    margin-bottom: 3pc;
}

.register h1{
    font-size: 2em;
}

.register label{
    font-size: larger;
    margin-bottom: 1pc;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.register input{
    width: 50%;
    height: 5vh;
    border-radius: 6px;
    border: none;
    padding-left: 3em;
    border: 2px solid #000;
}

.register p{
    font-style: italic;
    font-weight: 600;
}

.reg-btn{
    border-radius: 50px;
    background: #F5167E;
    border: none;
    font-size: large;
    font-weight: bold;
    padding: 1rem 3rem;
    color: #fff;
    cursor: pointer;
}

.shareBtnNav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shareBtnP{
    font-size: larger;
    margin-bottom: 1pc;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.shareBtn{
    background: #F5167E;
    border: none;
    font-size: large;
    font-weight: bold;
    padding: 1rem 2rem;
    color: #fff;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.GrandFatherh1{
    padding-top: 3em;
    display: flex;
    justify-content: center;
    color: #fff;
}
.father{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em 0;
}

.mother{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 5rem;
}
.child1{
    height: 70vh;
    width: auto;
}

.child2{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.child3{
    font-size: 20px;
}
.child4{
    padding: 1rem;
    border-radius:5rem;
    border: none;
    border:1px solid #ccc;
    background-color: #ccc;
    font-size: 20px;
}

.child2,
.child3,
.child4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}
.child4 a{
    text-decoration: none;
    color: #000;
}
@media screen and (min-width: 280px) and (max-width: 850px){
    .father{
        width: 100%;
    }

    .child1{
        width: 100%;
        height: 80vh;
    }
    .child2{
        display: flex;
        justify-content: center;
    }
    .child4{
        margin-left: 0;
    }
    .mother{
        display: flex;
        align-items: center;
        width: 100%;
    }
}
/* REGISTER PAGE RESPONSIVE */
@media screen and (min-width: 600px) and (max-width: 1200px){
    .ancestor{
        width: 100%;
        gap: 2pc;
    }
.registerComp{
    width: 40%;
}

.reg{
    width: 80%;
    gap: 3pc;
}

    .aside{
        width: 15%;
    }

    .aside a{
        font-size: 1rem;
        font-weight: 700;
    }
    .register input{
        padding-left: 0;
    }
    .register p{
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: normal;
    }
}