.regContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #1d2b3a;
}

.regContainer h1{
    display: flex;
    justify-content: center;
    color: #fff;
}

.regForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    gap: 30px;
    border: 1px solid #fff;
    border-radius: 6px;
    height: 70vh;
    padding: 30px;
}
.regForm input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(255, 255,255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
}

.regForm label{
    position: absolute;
    left: 0;
    padding: 10px 0 0 50px;
    pointer-events: none;
    font-size: 20px;
    color: rgb(255, 255,255, 0.25);
    text-transform: uppercase;
    transition: 0.5s
}

.regForm input:valid ~ label,
.regForm input:focus ~ label
{
    color: #00dfc4;
    transform: translateX(20px) translateY(-7px);
    font-size: 15px;
    padding: 0 10px;
    /* background: #1d2b3a; */
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
}

.RegBtn{
    height: 7vh;
    border: none;
    border: 1px solid gray;
    background-color: #49c1a2;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

.RegBtn:hover{
    color: #fff;
}